---
ci:
  skip: [flake8]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
                configure$|
                .*\.ascii$|
                .*\.asc$|
                .*\.ref$|
                .*\.po$|
                .*\.ps$|
                .*\.svg$|
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
                configure$|
                .*\.ascii$|
                .*\.asc$|
                .*\.ref$|
                .*\.po$|
                .*\.ps$|
                .*\.svg$|
          )
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.2
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --preview]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint-fix
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black-jupyter
        exclude: |
          (?x)^(
                .tmp
          )
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
                .*/testsuite/.*
          )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        types_or: [c, c++, javascript, json, objective-c]
        exclude: |
          (?x)^(
                man/jquery.fixedheadertable.min.js$|
                .*\.ipynb$
          )
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
